*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:#3D3B3B ;
}

.container{
    display: flex;
    flex-direction: column;
}


.barra_superior{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1vh;
    background:#FF0413 ;
}

#cabecalho{
    display: grid;
    grid-column: span 3;
    justify-content: space-around;

    color: #FFFFFD;
}

.campo_imagem{
    display: flex;
    flex-direction: column;
    border: 4px solid #F70002;
    border-radius: 20px;
    max-width: 40vh ;
    max-height: 50vh;
}

#foto_visualizar{
    display: flex;
    border-radius: 10px;
}